body {
    background-image: url('./media/imagem/fundo.png');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

.campanha {
    border: solid 10px gray;
}

#principal {
    /* div e tem o contener pincipal */
    width: 900px;
}

.menu {
    background-color: tan;
    font-size: 16pt;
    padding: 18px;
}

.conteudo {
    margin-top: 1px;
    background-color: #E8E8D9;
    padding: 10PX;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
}

#radape {
    text-align: center;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

span {
    font-size: 10pt;
    font-weight: bold;
}